* {
        margin: 0;
        padding: 0;
        font-family: 'Geologica', sans-serif;
}

body {
        width: 100%;
}

.container_geral {
        width: 80%;
        margin: auto;
        background-color: #c1dff7;

}

.container_nome {
        width: 100%;
        margin: auto;
        background-color: #0800FF;
        display: flex;
        flex-direction: column;
        justify-content: center;

}

.container_nome_align {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
}

h1 {
        margin-top: 20px;
        font-size: 40px;
        line-height: 2rem;
        color: #fff;
}

.container_nome_align p {
        font-size: 24px;
        font-weight: 800;
        font-style: italic;
        color: #ABF7FF;
}

.perfil_img img {
        border: solid 1px #000;
        width: 104px;
        height: 104px;
        border-radius: 50%;
}