.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.icon{
    background-image: url(../../../public/logo_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
}

.text{
    max-width: 200px;
}

@media screen and (max-width: 950px) {
    .main{
        font-size: 32px;
    }
}